doctype html
html(lang='ru', class="no-js")

	head
		meta(charset='utf-8')

		title test2
		meta(name='description', content='')

		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
		meta(property='og:image', content='path/to/image.jpg')

		link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
		link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')
		link(src="/app/js/common.js" type="text/script")
		// Header CSS (First Sections of Website: paste after release from _header.min.css here)
		style

		// Load CSS & WebFonts Main Function
		script !function(e){"use strict";function t(e,t,n){e.addEventListener?e.addEventListener(t,n,!1):e.attachEvent&&e.attachEvent("on"+t,n)}function n(t,n){return e.localStorage&&localStorage[t+"_content"]&&localStorage[t+"_file"]===n}function a(t,a){if(e.localStorage&&e.XMLHttpRequest)n(t,a)?o(localStorage[t+"_content"]):l(t,a);else{var s=r.createElement("link");s.href=a,s.id=t,s.rel="stylesheet",s.type="text/css",r.getElementsByTagName("head")[0].appendChild(s),r.cookie=t}}function l(e,t){var n=new XMLHttpRequest;n.open("GET",t,!0),n.onreadystatechange=function(){4===n.readyState&&200===n.status&&(o(n.responseText),localStorage[e+"_content"]=n.responseText,localStorage[e+"_file"]=t)},n.send()}function o(e){var t=r.createElement("style");t.setAttribute("type","text/css"),r.getElementsByTagName("head")[0].appendChild(t),t.styleSheet?t.styleSheet.cssText=e:t.innerHTML=e}var r=e.document;e.loadCSS=function(e,t,n){var a,l=r.createElement("link");if(t)a=t;else{var o;o=r.querySelectorAll?r.querySelectorAll("style,link[rel=stylesheet],script"):(r.body||r.getElementsByTagName("head")[0]).childNodes,a=o[o.length-1]}var s=r.styleSheets;l.rel="stylesheet",l.href=e,l.media="only x",a.parentNode.insertBefore(l,t?a:a.nextSibling);var c=function(e){for(var t=l.href,n=s.length;n--;)if(s[n].href===t)return e();setTimeout(function(){c(e)})};return l.onloadcssdefined=c,c(function(){l.media=n||"all"}),l},e.loadLocalStorageCSS=function(l,o){n(l,o)||r.cookie.indexOf(l)>-1?a(l,o):t(e,"load",function(){a(l,o)})}}(this);

		// Load CSS Start
		script loadLocalStorageCSS( "webfonts", "css/fonts.min.css?ver=1.0.0" );
		script loadCSS( "css/header.min.css?ver=1.0.0", false, "all" );
		script loadCSS( "css/main.min.css?ver=1.0.0", false, "all" );
		script loadCSS( "css/font-awesome.min.css?ver=1.0.0", false, "all" );



		// Load CSS End

		// Load CSS Compiled without JS
		noscript
			link(rel='stylesheet', href='css/fonts.min.css')
			link(rel='stylesheet', href='css/main.min.css')
			link(rel='stylesheet', href='css/font-awesome.min.css')


	body
		.video-container
			.video-pattern
				video.forvidos(autoplay loop width="auto")
					source(src="http://trdcompany.kz/blue.mp4" type="video/mp4")
					source(src="video/video2.mp4" type="video/mp4")
					source(src="video/video2.mp4" type="video/mp4")

		.row.shapka.row--no-gutter
			.col.col--10-of-12.col--centered
				.col.col--4-of-12.col--m-1-of-4
					.phone
						i(class="fa fa-phone-square")
							span +7(727)987-65-43
						i(class="fa fa-envelope-square")
							span info@sds.kz
				.col.col--8-of-12.col--m-3-of-4
					.menu-wrapper
						nav#my-menu
							ul
								li Главная
								li О нас
								li Услуги
								li Квалификация
						.mobile-mnu.hidden-md.hidden-lg
							a.toggle-mnu.hidden-lg(href="")
								span
							b
								Меню
						.nav_menu
							ul
								li
									.button-vk.button-longshadow.button.button-raised(style="height:100%; width:100%;")
										i(class="fa fa-suitcase")
											span
												a(href="#book-b") Квалификация
								li
									.button-vk.button-longshadow.button.button-raised(style="height:100%; width:100%;")
										i(class="fa fa-balance-scale")
											span
												a(href="#book-b") Услуги
								li
									.button-vk.button-longshadow.button.button-raised(style="height:100%; width:100%;")
										i(class="fa fa-user-circle")
											span
												a(href="#book-b") О нас
								li.current
									.button-vk.button-longshadow.button.button-raised(style="height:100%; width:100%;")
										i.current(class="fa fa-home")
											span
												a.current(href="#book-b") Главная


		.row.menus.row--no-gutter
			.col.col--10-of-12.col--centered
				.col.col--4-of-12.col--m-2-of-4
					img.logo(src="/img/logo.png")
					.slogan_container
						.slogan Юридическое бюро «Цивилист»
				.col.col--8-of-12.col--m-2-of-4
		.row.slider.row--no-gutter
			.col.col--12-of-12
				.col.col--6-of-12.col--centered
					h1.slider
						ХОРОШИЙ АДВОКАТ ВЫИГРЫВАЕТ В ПРОЦЕССЕ; -ОЧЕНЬ ХОРОШИЙ — ДО ПРОЦЕССА.
		.row.sprite.row--no-gutter
			.col.col--8-of-12.col--centered
					#home
						hr
		.row.content.row--no-gutter
			.col.col--8-of-12.col--centered
				#about.content-box
					h1 О нас
					p с 1997 года занимаюсь занимаюсь юридической практикой и оказываю юридические услуги на профессиональном уровне. Основываясь на имеющемся опыты утверждаю, что при наступлении  сложной правовой ситуации, когда нет возможности самостоятельно урегулировать возникшие проблемы то путь один — обращаться к специалистам в данном вопросе. Ведь только специалист всесторонне изучит и оценит ситуацию, определит стратегию дальнейших действий. Кроме того, даю консультацию относительно исхода дела в той или иной ситуации, для принятия правильного и целесообразного решения по возникшей проблеме.
				#services(style="margin-top: 15em")
					hr
					h1 Услуги
					ol#hyphen
						b Для выполнения такого рода задач занимаюсь решением правовых проблем по следующей специализации:
						li
							span консультации, в том числе  дистанционно, при возникновении спорных моментов в предпринимательстве;
						li
							span судебный процесс, в том числе по взысканию долгов;
						li
							span участие в ведении переговоров;
						li
							span консультации по гражданскому праву, включая корпоративные споры;
						li
							span юридические заключения по вопросам, возникающим в ходе ведения коммерческой деятельности;
						li
							span экономические (финансово-хозяйственные) споры;
						li
							span обжалование действий/бездействия в судебном порядке;
						li
							span вопросы реорганизации, слияния и поглощения;
						li
							span процедуры банкротства и реабилитации (санации);
						li
							span споры, вытекающие из взаимоотношений с кредиторами (банками), государственными органами и должностными лицами;
						li
							span представление интересов компаний не резидентов на территории Казахстана.
		.row.content.row--no-gutter
			.col.col--12-of-12.qualification-outer
				.col.col--12-of-12.qualification-inner
					.video-container
						.video-pattern
							video.forvidos(autoplay loop width="auto")
								source(src="http://trdcompany.kz/blue.mp4" type="video/mp4")
					.row.row--no-gutter.qualification-back
						.col.col--8-of-12.col--centered
							#qualification
									hr
									h1 Квалификация
									ul
										li 1. диплом о высшем юр. Образовании (диплом).
										li 2. аукционист  (сертификат)
										li 3. конкурсный управляющий (квалификационное свидетельство).
										li 4. деятельность по управлению имуществом и делами неплатежеспособных должников в процедурах банкротства (лицензия)
										li 5. адвокат (лицензия)
										li 6. реабилитационный и банкротный управляющий (сертификат)
										li 7. руководитель юридической службы/корпоративный юрист (сертификат)
						footer.content-box
							ul
								li
									a(href="")
										i(class="fa fa-vk")
								li
									a(href="")
										i(class="fa fa-facebook")
								li
									a(href="")
										i(class="fa fa-twitter")
							span copyright 2017 Privacy Policy






		//.hidden

		// Поддержка старых браузеров
		<!--[if lt IE 9]>
		<script src="libs/html5shiv/es5-shim.min.js"></script>
		<script src="libs/html5shiv/html5shiv.min.js"></script>
		<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
		<script src="libs/respond/respond.min.js"></script>
		<![endif]-->

		// Load Scripts
		script.
			var scr = {"scripts":[
			{"src" : "js/libs.js", "async" : false},
			{"src" : "js/common.js", "async" : false}
			]};!function(t,n,r){"use strict";var c=function(t){if("[object Array]"!==Object.prototype.toString.call(t))return!1;for(var r=0;r<t.length;r++){var c=n.createElement("script"),e=t[r];c.src=e.src,c.async=e.async,n.body.appendChild(c)}return!0};t.addEventListener?t.addEventListener("load",function(){c(r.scripts);},!1):t.attachEvent?t.attachEvent("onload",function(){c(r.scripts)}):t.onload=function(){c(r.scripts)}}(window,document,scr);
